/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-mrt-2018, 17:16:24
    Author     : geffrey, nico
*/

body{
    background-color: #F0F8FA;
}

.navbar{
    background-color: #00599B;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #00599B;
}

body > .container {
  padding: 100px 15px 10px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footerNaam{
    margin: 0 5px;
}

@media (max-width: 576px) {
    .footer span{
        font-size: 10px;
    }
    #footerTeam{
        visibility: collapse;
    }
}

/*HomePagina elemenenten*/
img.homePagina{
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    right: 20px;
}

.testDiv{
    background-color: pink;
}
.testDiv2{
    background-color: cyan;
}
.testDiv3{
    background-color: greenyellow;
}